<template>
  <div class="home">
    <div class="items-wrapper">
      <div class="title">
        BOOKS
      </div>
      <div class="books-wrapper">
        <BookItem
          v-for="(book, index) in books"
          :key="index"
          :data="book"
        />
      </div>
    </div>
    <Cart />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import BookItem from '@/components/BookItem'
import Cart from '@/components/Cart'

export default {
  components: {
    BookItem,
    Cart,
  },
  data() {
    return {
    }
  },
  computed: {
    ...mapState({
      books: (state) => state.book.data,
    }),
  },
  mounted() {
    this.$store.dispatch('book/fetchBooks').then()
  },
}
</script>

<style lang="scss" scoped>

.home {
  display: flex;
  height: 100%;
  padding: 24px;
  > .items-wrapper {
    > .title {
      font-size: 24px;
      padding-bottom: 4px;
      border-bottom: 1px solid #aaaaaa;
    }
    > .books-wrapper {
      display: flex;
      flex-wrap: wrap;
      overflow: visible;
    }
  }
}
</style>
