<template>
  <div class="cart-item">
    <div class="book-title-price">
      <div class="order">
        {{ index + 1 }}.
      </div>
      <div class="book-title">
        {{ data.title }}
      </div>
      <div class="book-price">
        ฿{{ data.price }}
      </div>
    </div>
    <div class="amount-book">
      <i
        :class="`material-icons ${data.amount > 1 ? 'remove' : 'delete_outline'}`"
        @click="$store.commit('cart/removeBookById', data)"
      />
      <div class="amount">
        {{ data.amount }}
      </div>
      <i
        class="material-icons add"
        @click="$store.commit('cart/addBookById', data)"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => {},
      required: true,
    },
    index: {
      type: Number,
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/scss/variables.scss';

.cart-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  > .book-title-price {
    display: flex;
    margin-bottom: 12px;
    > .book-title {
      flex: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $primary-color;
    }
    > .book-price {
      flex: 1;
      text-align: right;
      color: #aaaaaa;
    }
  }
  > .amount-book {
    display: flex;
    align-self: flex-end;
    padding: 4px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    &:hover {
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
    }
    > .add, .remove, .delete_outline {
      color: $primary-color;
      cursor: pointer;
    }
    > .amount {
      margin: 0 12px;
    }
  }
}
</style>
