<template>
  <div class="top-bar-wrapper">
    <div class="logo-wrapper">
      <img
        src="@/assets/logo.png"
        alt="logo"
      >
    </div>
    <div class="logo-name">Shiba Book Shop POS</div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
@import '@/scss/variables.scss';

.top-bar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  background-color: #ffffff;
  padding: 12px;
  align-items: center;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.12);
  z-index: 1000;
  > .logo-wrapper {
    height: 52px;
    margin-right: 24px;
    > img {
      height: 100%;
    }
  }
  > .logo-name {
    font-size: 20px;
    color: $theme-color;
  }
}
</style>
