<template>
  <div id="app">
    <TopBar />
    <router-view />
  </div>
</template>

<script>
import TopBar from '@/components/TopBar'

export default {
  components: {
    TopBar,
  },
}
</script>
<style lang="scss">

html, body, #app {
  height: 100%;
  width: 100%;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}
button, input {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}
#app {
  padding-top: 76px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

</style>
