<template>
  <div class="history-wrapper">
    <div class="header">
      Receipt
    </div>
    <div class="items-wrapper">
      <HistoryBookItem
        v-for="(item, index) in history.items"
        :key="index"
        :data="item"
      />
    </div>
    <div class="sub-total">
      <div class="title">
        Subtotal:
      </div>
      <div class="price">
        ฿{{ history.subtotal }}
      </div>
    </div>
    <div class="discount">
      <div class="title">
        Discount:
      </div>
      <div class="price">
        ฿{{ history.discount }}
      </div>
    </div>
    <div class="net">
      <div class="title">
        NET:
      </div>
      <div class="price">
        ฿{{ history.net }}
      </div>
    </div>
    <div class="change">
      <div class="title">
        Change:
      </div>
      <div class="price">
        ฿{{ history.change }}
      </div>
    </div>
    <button
      class="back"
      @click="$router.back()"
    >
      BACK
    </button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import HistoryBookItem from '@/components/HistoryBookItem'

export default {
  components: {
    HistoryBookItem,
  },
  computed: {
    ...mapGetters({
      getHistoryById: 'history/getHistoryById',
    }),
    history() {
      const { id } = this.$route.params
      return this.getHistoryById(id)
    },
  },
}
</script>

<style lang="scss" scoped>

.history-wrapper {
  padding: 24px;
  > .header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  > .sub-total, .discount, .net, .change {
    display: flex;
    > .title {
      flex: 1;
    }
    > .price {
      flex: 9;
    }
  }
  > .back {
    margin-top: 24px;
    width: 100%;
    outline: none;
    background: #aaaaaa;
    border: 0;
    color: #ffffff;
    padding: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.2);
    }
  }
}
</style>
